@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #000;
    border-radius: 1rem;
    width: 400px;
    height: 500px;
    padding: 3rem;
}

.screen{
    background-color: #cdcdcd;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Poppins';
    margin-bottom: 1rem;
    text-align: right;
    border-radius: 1rem;
}

.btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.btn{
    background-color: #444;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    height: 4rem;
}

.zero{
    grid-column: span 2;
    border-radius: 2rem;
}

.operator{
    background-color: #ffa600;
}

.special{
    background-color: #999;
}

.btn:hover{
    background-color: #b8b8b8;
    cursor: pointer;
}

.operator:hover{
    background-color: #dedede;
}